{% extends 'base.html.twig' %}

{% block title %}Pin Creation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Pin creation form</h1>
            {{ include('pins/partials/_formPin.html.twig', {submitButtonText : 'Create'}) }}
        </div>
    </div>
{% endblock %}