{% extends 'base.html.twig' %}

{% block title %}{{ pin.title }}{% endblock %}

{% block body %}
    <article>
        <h3>Title: {{ pin.title }}</h3>
        <p>Description: {{ pin.description }}</p>
        <a href={{path("app_home")}}>Retour à la page d'accueil</a>
    </article>
{% endblock %}