<footer class="container text-center mt-5">
    <p>
        <small class="text-muted">
            &copy; Copyright {{ 'now' | date('Y') }}.
            <br/>
           Built by Abdoulaye SARR
        </small>
    </p>
</footer>