.alert{
    padding: 10px;
    color: white;
    text-align: center;
    &.alert-success{
        background-color: green;
    }
    &.alert-info{
        background-color: blue;
    }
}

@import "~bootstrap/scss/bootstrap";