
.alert{
    padding: 10px;
    color: white;
    text-align: center;
}
.alert-success{
    background-color: green;
}

.alert-info{
    background-color: blue;
}

.form-check{
    @extend .mt-4
}

.vich-image{
    img{
        @extend .shadow;
        @extend .rounded;
    }
}

.pic{
    img:hover{
        transform: scale(1.075);
        transition: transform 0.3s;
    }
}
.link_c{
    @extend .text-muted, .text-decoration-none, .text-secondary;
}

@import "~bootstrap/scss/bootstrap";